/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
   box-sizing: border-box;
 }
 /*
   2. Remove default margin
 */
 * {
   margin: 0;
 }
 /*
   Typographic tweaks!
   3. Add accessible line-height
   4. Improve text rendering
 */
 body {
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
 }
 /*
   5. Improve media defaults
 */
 img, picture, video, canvas, svg {
   display: block;
   max-width: 100%;
 }
 /*
   6. Remove built-in form typography styles
 */
 input, button, textarea, select {
   font: inherit;
 }
 /*
   7. Avoid text overflows
 */
 p, h1, h2, h3, h4, h5, h6 {
   overflow-wrap: break-word;
 }
 /*
   8. Create a root stacking context
 */
 #root, #__next {
   isolation: isolate;
 }


/*set background color and font */
body {
   background-color: rgb(185, 227, 236);
   font-family: 'Courier New', Courier, monospace;
   font-size: .9rem;
}


/*center the container*/
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 1rem;
}

/* style buttons */

.btn-container {
   display: flex;
   gap: .3rem;
   flex-wrap: wrap;
}

.btn {
   border: none;
   gap: .3rem;
   display: inline-flex;
   align-items: center;
   border-radius: .2rem;
   cursor: pointer;
   background-color: white;
   height: 2.5rem;
   
}

.btn:hover {
  background-color: rgb(84, 189, 189);
  transition: ease-out ;
  box-shadow: 0px 1px 10px 1px black;
}

/*style color picker */

.color-container {
   background-color: white;
   height: 2.5rem;
   display: inline-flex;
   align-items: center;
   padding: .3rem;
  border-radius: .2rem;   
   
}
.color-container:hover {
  background-color: rgb(84, 189, 189);
  cursor: pointer;
  box-shadow: 0px 1px 10px 1px black;
}

#color-picker {
   height: 2rem;
   border: none;
}


/*style grid area*/
.grid-container {
  margin-top: 1rem;
  display: grid;
 height: 30rem;
 width: 40rem;
 background-color: white;
}

/*style the grids*/
.grid {
  border: 1px solid rgb(118, 113, 113);
}



/* style the input field*/

.resolution-container {
  margin-top: 1rem;
}

.resolution {
  width: 15rem;
  padding-inline: .5rem;
  border: none;
  font-size: .8rem;
  height: 3rem;
}

.resolution-input:hover {
  border: 1px solid rgb(84, 189, 189);
  box-shadow: 0px 1px 10px 1px black;
}